@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    --hbcol-angle: 0deg;
    --hbcol-dark: 0%;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-gsans: "Google Sans Flex", sans-serif;
    --color-mainblue: #006EFF;
}

@utility bg-hbcol {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, var(--hbcol-dark, 0)),
            rgba(0, 0, 0, var(--hbcol-dark, 0))
        ),
        linear-gradient(
            var(--hbcol-angle),
            #006EFF 0%,
            #00BFFF 100%
        );
}

@utility hbcol-angle-0   { --hbcol-angle: 0deg; }
@utility hbcol-angle-45  { --hbcol-angle: 45deg; }
@utility hbcol-angle-90  { --hbcol-angle: 90deg; }
@utility hbcol-angle-135 { --hbcol-angle: 135deg; }
@utility hbcol-angle-180 { --hbcol-angle: 180deg; }
@utility hbcol-angle-225 { --hbcol-angle: 225deg; }
@utility hbcol-angle-270 { --hbcol-angle: 270deg; }
@utility hbcol-angle-315 { --hbcol-angle: 315deg; }
@utility hbcol-angle-* {
  --hbcol-angle: --value(integer)deg;
  --hbcol-angle: --value([*]);
}

@utility hbcol-dark-* {
    --hbcol-dark: --value(percentage);
    --hbcol-dark: --value([*]);
}

body {
    @apply bg-mist-900;
    @apply font-inter text-white text-center;
}

@utility brand {
    @apply flex items-center gap-2;
}

@utility title {
    @apply text-5xl font-black bg-hbcol hbcol-dark-0% hbcol-angle-45 bg-clip-text text-transparent;

    &.white {
        @apply text-white bg-none;
    }
}

@utility gradtxt {
    @apply bg-clip-text bg-hbcol hbcol-angle-45 text-transparent;
}