@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
    --rainbow-angle: 0deg;
    --rainbow-dark: 0%;
}

@theme {
    --font-inter: "Inter", sans-serif;
}

@utility bg-rainbow {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, var(--rainbow-dark, 0)),
            rgba(0, 0, 0, var(--rainbow-dark, 0))
        ),
        linear-gradient(
            var(--rainbow-angle),
            #FF5D5B 0%,
            #F79455 24%,
            #FFD95A 47%,
            #5BFE9E 65%,
            #4E6AFF 84%,
            #B061FC 100%
        );
}

@utility rainbow-angle-0   { --rainbow-angle: 0deg; }
@utility rainbow-angle-45  { --rainbow-angle: 45deg; }
@utility rainbow-angle-90  { --rainbow-angle: 90deg; }
@utility rainbow-angle-135 { --rainbow-angle: 135deg; }
@utility rainbow-angle-180 { --rainbow-angle: 180deg; }
@utility rainbow-angle-225 { --rainbow-angle: 225deg; }
@utility rainbow-angle-270 { --rainbow-angle: 270deg; }
@utility rainbow-angle-315 { --rainbow-angle: 315deg; }
@utility rainbow-angle-* {
  --rainbow-angle: --value(integer)deg;
  --rainbow-angle: --value([*]);
}

@utility rainbow-dark-0   { --rainbow-dark: 0%; }
@utility rainbow-dark-25  { --rainbow-dark: 25%; }
@utility rainbow-dark-50  { --rainbow-dark: 50%; }
@utility rainbow-dark-75  { --rainbow-dark: 75%; }
@utility rainbow-dark-* {
    --rainbow-dark: --value(percentage);
    --rainbow-dark: --value([*]);
}

body {
    @apply bg-mist-900;
    @apply font-inter text-white text-center;
}